:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

div#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}
h1,h2,p,ul,input{
  margin: 0;
  padding: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

header {
  width: 100%;
  height: 140px;
  display: flex;
  background: #c1a8ff;
}

.containerHeader {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titleHeader{
  width: 67%;
  font-size: 40px;
}

.imgHeader {
  width: 90px;
  height: 90px;
}

main {
  width: 100%;
  height: 100%;
  height: auto;
  background: #340180;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 50px 0;
}

.sectionOne {
  width: 90%;
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.inputs {
  width: 100%;
  display: flex;
}

.containerInput {
  width: 40%;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.containerInput input {
  border-radius: 6px;
  border: none;
  height: 40px;
  background: white;
  color: black;
  font-size: 16px;
}

.buttonInputs {
  width: 90px;
}

.textCount {
  font-size: 45px;
  color: #fff40e;
  font-weight: 700;
}

hr {
  width: 100%;
}

.sectionTwo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0 0;
  gap: 30px;
}

.containerFilter {
  width: 60%;
  font-size: 20px;
  display: flex;
  gap: 5px;
}

.textFilter {
  font-size: 30px;
  font-weight: 700;
}

select#filter {
  height: 100%;
  font-size: 20px;
}

.containerCard {
  width: 80%;
  min-height: 300px;
  max-height: 300px;
  background: #210151;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  width: 90%;
  min-height: 260px;
  max-height: 260px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

ul::-webkit-scrollbar {
  background-color: #340180;
  border-radius: 10px;
  width: 15px;
}

ul::-webkit-scrollbar-thumb {
  background-color: #c1a8ff;
  border-radius: 10px;
}

li {
  list-style: none;
  height: 20%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.status {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #f14d07;
}

.containerTextCard {
  min-width: 70%;
  display: flex;
  font-size: 32px;
  gap: 5px;
}

p.titleTask {
  font-weight: 700;
}

.checkbox {
  height: 30px;
  width: 6%;
  background: none;
  color: transparent;
}

footer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  background-color: #c1a8ff;
}

@media (max-width: 1279px) {
  .containerCard {
    width: 80%;
    min-height: 250px;
    max-height: 250px;
    background: #210151;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inputs {
    width: 100%;
    display: flex;
    gap: 5px;
  }

  .containerInput {
      width: 40%;
      font-size: 17px;
      display: flex;
      align-items: center;
  }

  .containerInput input {
      border-radius: 6px;
      border: none;
      height: 30px;
      background: white;
      color: black;
      font-size: 14px;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  .textCount {
    font-size: 35px;
    color: #fff40e;
    font-weight: 700;
  }

  select#filter {
    height: 100%;
    font-size: 16px;
  }

  .containerCard {
    width: 80%;
    min-height: 250px;
    max-height: 250px;
    background: #210151;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    width: 90%;
    min-height: 220px;
    max-height: 220px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
  }

  .containerTextCard {
    min-width: 70%;
    display: flex;
    font-size: 26px;
    gap: 5px;
  }
}

@media (max-width: 920px) {
  .inputs {
    width: 100%;
    display: flex;
    gap: 10px;
  }

  .containerCard {
    width: 80%;
    min-height: 320px;
    max-height: 320px;
    background: #210151;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
      width: 90%;
      min-height: 295px;
      max-height: 295px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      overflow-y: auto;
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;
    height: auto;
    background: #340180;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0 10% 0;
  }

  .inputs {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }

  .containerInput {
      width: 100%;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .textCount {
      font-size: 25px;
      color: #fff40e;
      font-weight: 700;
      text-align: center;
  }

  .textFilter {
      font-size: 25px;
      font-weight: 700;
  }

  .status {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      background: #f14d07;
  }

  .containerTextCard {
    min-width: 70%;
    display: flex;
    font-size: 18px;
    gap: 5px;
  }

  .checkbox {
      height: 20px;
      width: 6%;
      background: none;
      color: transparent;
  }
}

@media (max-width: 480px) {
  .textCount {
    font-size: 20px;
    color: #fff40e;
    font-weight: 700;
    text-align: center;
  }

  .containerCard {
    width: 90%;
    min-height: 320px;
    max-height: 320px;
    background: #210151;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkbox {
    height: 20px;
    width: 7%;
    background: none;
    color: transparent;
  }
}